#footerContainer {
    height: 250px;
    width: 1200px;
    margin: 0 auto;
    background: var(--bg-color2);
    z-index: 10; 
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    position: sticky;
    overflow: hidden;
}

footer {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-column: 2;
    display: grid;
    grid-template-columns: min-content auto min-content min-content;
    align-items: center;
}

#headerNewPostButton {grid-column: 3;}
#headerUserButton {grid-column: 4;}

footer > * {
    height: 100%;
    min-width: max-content;
    margin: auto 1rem;
    display: flex;
    align-items: center;
}

footer > div > * {
    float: right;
    display: flex;
    align-items: center;
}

/* footer > *:hover {
    border-top: 2px solid #0000;
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;
    color: var(--secondary-color);
} */

footer svg {
    font-size: 2rem;
    margin-right: 0.5rem;
}

/* footer a:hover {
    text-decoration: none;
    color: inherit;
} */

footer #headerLogoImage, footer #headerProfilePic {
    height: 80px;
}
