/*
 * TODO: Se om noe trenger responsivitet
 */


.navContainer {
    height: 100px;
    width: 100%;
    background: var(--bg-color2);
    z-index: 10; 
}

.headerContainer {
    position: sticky;
    top: 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    border-top: 1px solid rgba(0,0,0,0.3);
}

header, footer {
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
    grid-column: 2;
    display: grid;
    grid-template-columns: min-content auto min-content min-content;
    align-items: center;
}

#headerNewPostButton {grid-column: 3;}
#headerUserButton {grid-column: 4;}

header > div, footer > * {
    height: 100%;
    min-width: max-content;
    margin: auto 1rem;
    display: flex;
    align-items: center;
}

header > div > *, footer > div > *  {
    float: right;
    display: flex;
    align-items: center;
}

header > .headerElement:hover {
    border-top: 2px solid #0000;
    border-bottom: 2px solid var(--secondary-color);
    cursor: pointer;
    color: var(--secondary-color);
}

header i, footer i {
    height: auto;
    font-size: 2rem;
    width: 2rem;
    margin-right: 0.5rem;
    cursor: pointer;
}

header a {
    display: none;
}

header img, footer img {
    height: 80px;
}

/* - - - Header hidden cheatcodes - - - */
/* Currently not implemented */
#headerInputContainer {
    position: relative;
    display: flex;
    align-items: top;
}
#headerInputImage {
    height: 56px;
    width: fit-content;
}
#headerInputField {
    width: 50px;
    line-height: 50px;
    background-size: 30px;
    background-color: #ff9900;
    color: #fff;
    border: 3px solid #ffebcc;
    border-radius: 28px;
    padding-left: 50px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    transition: all .2s ease-in-out;
}
#headerInputField:focus {
    outline: none;
    width: 300px;
}
/* - - - END Header hidden cheatcodes - - - */


@media screen and (max-width: 1250px) {
    #fantBruker {
        font-size: 0.75rem;
        margin-right: 20px;

    }
    #nyAnnonseButton {
        font-size: 0.75rem;
        text-align: center;
    }
}