/*START Search box - Inspired, but not directly copied from https://templateyou.com/free-css-search-boxes/*/
/* General styling and placement */
#searchFrom input, #searchFrom {
    border: none;
	background: none;
	outline: 0;
    flex-direction: row;
}

/* Placeholder text */
.SearchBox-input::placeholder {
    color:var(--text-color2);
	opacity: .6;
}

/* Specific styling */
.SearchBox, #searchFrom {
    --height: 3em;
    margin: 0 auto;
    justify-content: center;
	display: flex;
	border-radius: 5px 25px 25px 5px;
	background-color: var(--bg-color1);
	height: var(--height);
}

/* Input styling */
.SearchBox-input, #searchFrom {
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 5px 25px 25px 5px;
    width: 240px;
    font-size: 1em;
    color: var(--text-color2);
    transition: .45s;
}

/* Search button styling */
.SearchBox-button {
    display: flex;
    border-radius: 50%;
    padding-left: 15px;
    width: 48px;
    height: var(--height);
    background-color: var(--primary-color);
    transition: .3s;
}

/* Search button - On hover */
.SearchBox-button:hover  {
    background-color: var(--secondary-color);
}

/*Search icon */
#SearchBox-icon {
    margin: 0 auto;
    height: 20px;
    color: #fff;
}

/* Media query for search box - makes it expand */
@media screen and (min-width: 400px){
    .SearchBox .SearchBox-input:focus {
        width: 350px;
	}
}
/* END Search box */

/* START Dropdown search */
/* General styling of search dropdown */
.ui-widget-content {
    box-shadow: 0 5px 10px 2px rgba(0,0,0,0.5);
    border-radius: 3px;
    background: var(--bg-color1) 50% bottom repeat-x; 
    color: var(--text_color2); 
    font-weight: normal;
    width: 375px;
}

/* Item styling */
.ui-widget-content a {
    color: var(--text-color2); 
    font-weight: normal;    
}

/* Hover styling */
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { 
    border: 1px solid var(--secondary-color); 
    border-radius: 3px;
    background: var(--secondary-color) 50% 50% repeat-x; 
    color: var(--text-color1);
}

/* List items pointer + position */
.ui-autocomplete { 
    position: absolute;
    cursor: pointer;
}	

/* START Menu items */
.ui-menu {
	list-style:none;
	padding: 0;
	margin-left: 5px;
	float: left;
}
.ui-menu .ui-menu {
	margin-top: -3px;
    position: relative;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
/* END Menu items */
/* END Dropdown search*/

/* START Category dropdown */
.dropdown-check-list {
    text-align: center;
    margin: 0 auto;
}

/* Dropdown filter button */
.dropdown-check-list .anchor {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding-bottom: 7.5px;
}

/* Styles list items */
.dropdown-check-list ul.items {
    padding: 2px;
    text-align: center !important;
    z-index: 0;
    display: none;
    margin: 0;
    border-top: none;
}
  
/* Sets color of filter button */
.dropdown-check-list.visible .anchor {
    color: var(--text-color2);
}

#filterButton {
    margin-top: 1.2em;
    padding-right: 1em;
    text-align: right;
} 

#filterButton:hover {
    cursor: pointer;
}
  
/* Shows categories */
.dropdown-check-list.visible .items {
    display: block;
}

/* Add a theme color on mouse-over */
.btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color1);
  }
  
/* Add a dark background color to the active button */
.btn.active {
   background-color: #666;
   color: white;
}

/* Add a little margin to buttons */
.btn.cat {
    margin-top: 4px;
 }

/* Hides objects not within chosen category */
.hide {
    display: none;
}
/* END Category dropdown */
