:root {
    --primary-color: #ffcd80;
    --secondary-color: #ff9900;
    --bg-color1: #efefef;
    --bg-color2: #fff;
    --box-color1: #eee;
    --box-color2: #ddd;
    --text-color1: #fff;
    --text-color2: #000;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: var(--bg-color1);
    color: var(--text-color2);
}

#nyAnnonseButton {
    background: var(--bg-color2);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    padding-right: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    text-align: right;
}

#nyAnnonseButton:hover  {
    background: var(--bg-color1);
}

#pantBruker {
    background: var(--bg-color2);
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    text-align: right;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 2fr;
}

#pantBruker:hover {
    background: var(--bg-color1);
}


@media screen and (max-width: 1250px) {
    #pantBruker {
        font-size: 0.75rem;
        margin-right: 20px;

    }
    #nyAnnonseButton {
        font-size: 0.75rem;
        text-align: center;
    }
}  

#headerContainer {
    height: 100px;
    width: 100vw;
    background: var(--bg-color2);
    z-index: 1000; 
    position: sticky;
    top: 0;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}
button:disabled, .btn.disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
    color: var(--primary-color);
}

header {
    max-width: 1200px;
    height: 100px;
    background: var(--bg-color2);
    color: var(--text-color);
    margin: auto;
    display: grid;
    grid-template-columns: 160px auto 125px 140px;
    align-items: center;
}

header > img {
    height: 80px;
    cursor: pointer;
}

header > img:hover {
    height: 82px;
}
header a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin: .5rem;
}
header a:hover {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

#plusSign {
   margin-right: 5px;
}

#profilePic {
    height: 35px;
    padding-left: 7.5px;
 }
 

.content {
    max-width: 1200px;
    /* height: calc(100% - 100px); */
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background: var(--bg-color2);
    /* overflow-y: scroll; */
}

#posts_container {
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
    justify-items: stretch;
    align-items: start;
}

.single_post {
    padding-bottom: 1rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px #0001;
    cursor: pointer;
    position: relative;
    transition: all .2s ease-in-out;
}
.single_post:hover {
    box-shadow: 5px 5px 10px #0002;
    transform: scale(1.02);
}
.single_post.unavailable, .single_post.unavailable > a {
    color: #888;
}

.single_post > * {
    margin: 1rem;
}

.single_post > img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    margin: 0;
}
.single_post.unavailable > img {
    filter: grayscale(100%);
}

.single_post > a {
    display: none;
}

.single_post > .unavailable_tag {
    position: absolute;
    top: 0;
    right: 0;
    background: var(--primary-color);
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 10px;
}

.post_detail {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem;
}
.post_detail > .post_content {
    grid-column: 1 / 1;
}
.post_detail > img, .post_detail > button, .post_detail > .btn {
    grid-column: 2 / 2;
    width: 100%;
}