{% block content %}
    <div id="headerContainer">
        <header>
            {% load static %}
            <div class="headerElement">
                <img id="headerLogoImage" src="{% static 'images/fant_logo.png' %}" alt="Fant Logo" />
                <a href="{% url 'posts' %}"></a>
            </div>
            
            <div></div>

            <div class="headerElement" id="headerNewPostButton">
                <i id="plusSign" class="fa-solid fa-plus"></i>Ny annonse
                <a href="{% url 'new_post' %}"></a>
            </div>
            
            <div class="headerElement" id="headerUserButton">
                <img id="headerProfilePic" src="{% static 'images/profile-pic-start.png' %}" alt="Fant Bruker" />Min FANT
                <a href="{% url 'index' %}"></a>
            </div>
        </header>
    </div>
{% endblock %}