{% block content %}
    <div id="headerContainer">
        <header>
            {% load static %}
            <div id="headerInputContainer">
                <div class="headerElement">
                    <img id="headerInputImage" src="{% static 'images/fant_logo_tekst.png' %}">
                    <a href="{% url 'posts' %}"></a>
                </div>
                <input id="headerInputField" type="text" />
            </div>

            <div class="headerElement" id="headerNewPostButton">
                <i id="plusSign" class="fa-solid fa-plus"></i>Ny annonse
                <a href="{% url 'new_post' %}"></a>
            </div>
            
            <div class="headerElement" id="headerUserButton">
                <img id="headerProfilePic" src="{% static 'images/profile-pic-start.png' %}" alt="Fant Bruker" />Min FANT
                <a href="{% url 'index' %}"></a>
            </div>
        </header>
    </div>
{% endblock %}