<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/x-icon" href="/static/images/fant_logo.png">
    {% block title %}<title>FANT.no - umulighetenes marked</title>{% endblock %}
    {% load static %}
    <link rel="icon" type="image/x-icon" href="{% static 'images/fant_logo_ball.png' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'css/navigation.css' %}">
    <link rel="stylesheet" href="{% static 'css/posts.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/forms.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link rel="stylesheet" href="{% static 'css/calendar.css' %}">
    
    <!-- Import FontAwesome -->
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    {% include "header.html" %}

    {% if messages %}
    <div id="message_container">
        <div class="overlay" onclick="this.parentElement.style.display='none'" title="Lukk popup"></div>
        <div id="message">
            <button class="close_button" onclick="this.parentElement.parentElement.style.display='none'" title="Lukk popup">X</button>
            {% for message in messages %}
            <hr>
            <p>{{ message }}</p>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="content">
        {% block content %}
            <!-- This is where the content comes in -->
            <h1>Ingenting å se her...</h1>
            <img src="{% static 'images/fant_pug4.png' %}" alt="Fant Logo" />
            <img src="{% static 'images/fant_pug3.png' %}" alt="Fant Logo" />
            <img src="{% static 'images/fant_pug2.png' %}" alt="Fant Logo" />
        {% endblock %}
    </div>
    {% include "footer.html" %}
</body>
<script src="{% static 'js/main.js' %}"></script>
</html>