{% extends "page.html" %}

{% block content %}
    <div class="post_detail">
        <a href="{% url 'posts' %}">⇦ Gå tilbake</a>
        <div class="post_content">
            <h1>{{ post.title }}</h1>
            <p>Publisert: {{ post.pub_date|date:"d.M Y" }}</p>

            <p>{{ post.text }}</p>

            <p>Mer informasjon kommer...</p>
        </div>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        {% if post.status == 'AVAILABLE' %}
            <a class="btn" href="{% url 'rent_product' post.id %}">Lei produkt</a>
        {% else %}
            <a class="btn disabled" href="" onclick="event.preventDefault()">Produktet er utleid for øyeblikket...</a>
        {% endif %}
    </div>
    {% if request.user == post.author %}
        <div class="rentalStatus">
            {% for rental in rentals %}
                <div>
                    <h2>Leietaker: {{ rental.renter.firstname }} {{ rental.renter.lastname }}</h2>
                    <h2>Leieperiode: {{ rental.start_date }} {{ rental.end_date }}</h2>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% include "calendar.html" with rentedDays=rentedDays %}
{% endblock %}
