{% extends "page.html" %}

{% block content %}
    <div class="post_detail">
        <a href="{% url 'posts' %}">⇦ Gå tilbake</a>
        <div class="post_content">
            <h1>{{ post.title }}</h1>
            <p>{{ post.text }}</p>

            <br>
            <p>Publisert: {{ post.pub_date|date:"d.M Y" }}</p>

            <br>
            <h2>Kontaktinformasjon</h2>
            <p>Navn: {{ post.author.firstname }} {{ post.author.lastname }}</p>
            <p>E-post: <a href="mailto:{{ post.author }}">{{ post.author }}</a></p>
            <p>Telefonnummer: <a href="tel:{{ post.author.phone }}">{{ post.author.phone }}</a></p>
            <a href="{% url 'renter_detail' post.author.id %}">Vis utleierprofil</a>

        </div>
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        {% if post.author == request.user %}
            <a class="btn" href="{% url 'new_post' post.id %}">Endre annonse</a>
        {% endif %}
        {% if post.author != request.user %}
         <a class="btn" href="{% url 'rent_product' post.id %}">Lei produkt</a>
        {% endif %}
        
    </div>
    {% if request.user == post.author %}
        {% include "calendar.html" with rentedDays=rentedDays %}
    {% endif %}
{% endblock %}
