{% extends "page.html" %}
{% block content %}
    <div id="profilePage">
        <div id="profileInfo">
            <h1>Hei, {{ request.user.firstname }}!</h1>
            <h3>Din kontaktinformasjon:</h3>
            <p>Epost: {{ request.user }}</p>
            <p>Telefon: {{ request.user.phone }}</p>    
        </div>
        
        <div id="profileActions">
            <a class="btn" href="{% url 'logout' %}">Logg ut</a>
            <a class="btn" href="">Endre profil</a>
            <a class="btn" href="{% url 'new_post' %}">Legg til ny annonse</a>
        </div>
        
        <div id="profilePosts">
            <hr>
            {% if rentedPosts.count > 0 %}
                <h3 class="accordion">Utleide annonser<span>▲</span></h3>
                <div class="posts_container">
                    {% for post in rentedPosts %}
                        <div class="single_post">
                            <img width="50px" src="{{ post.image.url }}" alt="{{ post.title }}">
                            <h3>{{ post.title }}</h3>
                            <a class="btn" href="{% url 'new_post' post.id %}">Endre</a>
                            <a class="btn" href="{% url 'endRental' post.id %}">Avslutt leie</a>
                            <a href="/posts/{{ post.id }}"></a>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
            {% if rentals.count > 0 %}
                <h3 class="accordion">Dine leieforhold<span>▲</span></h3>
                <div class="posts_container">
                    {% for post in rentals %}
                        <div class="single_post">
                            <img width="50px" src="{{ post.image.url }}" alt="{{ post.title }}">
                            <h3>{{ post.title }}</h3>
                            <a href="/posts/{{ post.id }}"></a>
                            <a class="btn" href="{% url 'endRental' post.id %}">Avslutt leie</a>
                        </div>
                    {% endfor %}
                </div>
                <hr>
            {% endif %}
            <h3 class="accordion">Dine annonser<span>▲</span></h3>
            <div class="posts_container">
                {% if posts.count == 0 %}
                    <p>Du har ingen annonser enda...</p>
                {% else %}
                    {% for post in posts %}
                        <div class="single_post">
                            <img width="50px" src="{{ post.image.url }}" alt="{{ post.title }}">
                            <h3>{{ post.title }}</h3>
                            <a class="btn" href="{% url 'new_post' post.id %}">Endre</a>
                            <a href="/posts/{{ post.id }}"></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
            <hr>
        </div>
    </div>
    
{% endblock %}