{% extends "page.html" %}
{% block content %}
    <div id="profilePage">
        <div id="profileInfo">
            <h1>Hei, {{ request.user.firstname }}!</h1>
            <h3>Din kontaktinformasjon:</h3>
            <p>Epost: {{ request.user }}</p>
            <p>Telefon: {{ request.user.phone }}</p>    
        </div>
        
        <div id="profileActions">
            <a class="btn" href="{% url 'logout' %}">Logg ut</a>
            <a class="btn" href="">Endre profil</a>
            <a class="btn" href="{% url 'new_post' %}">Legg til ny annonse</a>
        </div>
        
        <div id="profilePosts">
            <h3>Dine annonser:</h3>
            <div id="posts_container">
                {% if posts.count == 0 %}
                    <p>Du har ingen annonser enda...</p>
                {% else %}
                    {% for post in posts %}
                        <div class="single_post {% if post.status == 'UNAVAILABLE' %}unavailable{% endif %}">
                            <img width="50px" src="{{ post.image.url }}" alt="{{ post.title }}">
                            <h3>{{ post.title }}</h3>
                            <a class="btn" href="{% url 'new_post' post.id %}">Endre</a>
                            <a href="/posts/{{ post.id }}"></a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}