{% extends "page.html" %}
{% block content %}
    <form method="POST" action="" class="registerFormWrapper">
        <div style= "width: 100%"><h1>Register</h1></div>
        <br>
        {% csrf_token %}
        <div>
        <input id="id_firstname" type="text" placeholder="Fornavn" name="firstname" required>
        <input id="id_lastname" type="text" placeholder="Etternavn" name="lastname" required>
        </div>
        <div>
        <input id="id_phone" type="text" placeholder="Tlf. Nr" name="phone" required>
        <input id="id_email" type="text" placeholder="E-post" name="email" required>
        </div>
        <div>
        <input id="id_password1" type="password" placeholder="Passord" name="password1" required>
        </div>
        <div>
        <input id="id_password2" type="password" placeholder="Bekreft Passord" name="password2" required>
        </div>
        <button type="submit" class="confirmButton">Opprett bruker</button>
        <p>Allerede bruker?

            <a style="text-decoration: underline;" href={% url 'login' %}>Log inn</a>
            </p>
        
    </form>
{% endblock %}