{% block content %}
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script> 

    <form id="searchFrom" method="GET">


        <div class="SearchBox">
            <input autocomplete="off" onclick="submit" type="text" id="tags" class="SearchBox-input" placeholder="Søk etter verktøy..." name="q" value="{{request.GET.search}}" >
            <script>
                $( function() {
                    var availableTags = [
                        {% for post in search_list %}
                            "{{post.title}}",
                        {% endfor %}
                    ];
                    $( "#tags" ).autocomplete({
                    source: availableTags
                    });
                } );
            </script>
            <button class="SearchBox-button">
                <i id="SearchBox-icon" class="fa-solid fa-magnifying-glass" alt="søk"></i>
            </button>

        </div>
     
    </form>

        <div id="list1" class="dropdown-check-list" tabindex="100">
            <span class="anchor">Filter <i title="Filter name" name="cat" id="filterButton" class="fas fa-filter fa-lg"></i></span>
            <ul class="items">
                <li><input type="checkbox" />Apple </li>
                <li><input type="checkbox" />Orange</li>
                <li><input type="checkbox" />Grapes </li>
                <li><input type="checkbox" />Berry </li>
                <li><input type="checkbox" />Mango </li>
                <li><input type="checkbox" />Banana </li>
                <li><input type="checkbox" />Tomato</li>
            </ul>
        </div>

    
            
{% endblock %}