{% block content %}
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js">  
    </script>  
    
    <script src=  
    "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  
    </script> 

    <form id="searchFrom" method="GET">
        <div class="SearchBox">
            <input autocomplete="off" onclick="submit" type="text" id="tags" class="SearchBox-input" placeholder="Søk etter verktøy..." name="q" value="{{request.GET.search}}" >
            <script>
                $( function() {
                    var availableTags = [
                        {% for post in search_list %}
                            "{{post.title}}",
                        {% endfor %}
                    ];
                    $( "#tags" ).autocomplete({
                    source: availableTags
                    });
                } );
            </script>
            <button class="SearchBox-button">
                <i id="SearchBox-icon" class="fa-solid fa-magnifying-glass" alt="søk"></i>
            </button>

        </div>

        <div class="dropdown-menu dropdown-menu-right" >
            <ul class="category_filters" >
             <li >
              <input class="cat_type category-input" data-label="All" id="all" value="" name="radios" type="radio" ><label for="all" >All</label>
             </li>
             <li >
              <input type="radio" name="radios" id="Design" value="Design" ><label class="category-label" for="Design" >Design</label>
             </li>
             <li >
              <input type="radio" name="radios" id="Marketing" value="Marketing" ><label class="category-label" for="Marketing" >Marketing</label>
             </li>
             <li >
              <input type="radio" name="radios" id="Programming" value="Programming" ><label class="category-label" for="Programming" >Programming</label>
             </li>
             <li >
              <input type="radio" name="radios" id="Sales" value="Sales" ><label class="category-label" for="Sales" >Sales</label>
             </li>
             <li >
              <input type="radio" name="radios" id="Support" value="Support" ><label class="category-label" for="Support" >Support</label>
             </li>
            </ul>
         </div>
        
    </form>
            
{% endblock %}