{% block content %}
    <div class="single_post {% if post.status == 'UNAVAILABLE' %}unavailable{% endif %}">
        {% if post.image %}
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
        {% endif %}
        {% if post.status == 'UNAVAILABLE' %}
            <span class="unavailable_tag">Utleid</span>
        {% endif %}
        <h3>{{ post.title }}</h3>
        <p>Publisert: {{ post.pub_date|date:"d.M Y" }}</p>
        <a href="{% url 'post_detail' post.id %}"></a>
    </div>
{% endblock %}
